# basic
pandas
numpy
# grpc
grpcio
grpcio-tools
# kafka
kafka-python
# reddit
praw
# verification
pydantic
# db
pymongo[srv]
dnspython
# time
datetime
# finance
yfinance
# plots
altair
# scrapping
beautifulsoup4